.search {
  border: 2px solid black !important;
  max-width: 335px !important;
  height: 52px !important;
}


.box {
  width: 51px;
  height: 51px;
  background-color: black;
}


.header-input {
  &::placeholder {
    color: #878787 !important;
    font-size: 16px !important;
  }
}