<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>會員登入</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
        <div class="row mt-md-60 mt-24">
            <div class="col-lg-4 col-md-6 col-12 mx-auto text-center">
               <img class="login-icon" src="/assets/images/sparkler.png" alt="sparkler">
               <h3 class="fw-bold fs-24 mt-16">會員登入</h3>
               <form action="post" class="text-start" >
                <label class="mt-16 noto-tc-sans" for="user_login">帳號</label><br>
                <input class="mt-8 w-100 form-control-lg border border-2 border-primary login-input" type="email" id="user_login" placeholder="請輸入帳號" required aria-label="請輸入帳號">
                <label class="mt-16 noto-tc-sans" for="user_password">帳號</label><br>
                <input class="mt-8 w-100 form-control-lg border border-2 border-primary login-input" type="password" id="user_password" placeholder="請輸入密碼" required aria-label="請輸入密碼">
                <button class="btn btn-primary w-100 mt-md-32 mt-24 py-8 mb-md-175 mb-264">
                    <span class="me-4 fs-20 fw-bold noto-tc-sans">登入</span>
                    <i class="icofont-rounded-double-right"></i>
                </button>
            </form>
            </div>
        </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>